<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile" class="sidenav"
    [class.hidden]="isMobile">
    <div class="logo-container">
      <span class="logo-text">Glass<span class="highlight">Calendar</span></span>
    </div>

    <div class="nav-list">
      <a *ngFor="let item of navItems" [routerLink]="item.route" routerLinkActive="active" class="nav-item">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span class="label">{{ item.label }}</span>
      </a>
    </div>

    <div class="user-profile">
      <div class="avatar">{{ userProfile?.firstName?.[0] || 'U' }}{{ userProfile?.lastName?.[0] || '' }}</div>
      <div class="info">
        <span class="name">{{ userProfile?.firstName }} {{ userProfile?.lastName }}</span>
        <button mat-button class="logout-btn" (click)="logout()">
          <mat-icon>logout</mat-icon>
          Logout
        </button>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="content-area">
    <div class="page-container">
      <router-outlet></router-outlet>
    </div>

    <!-- Mobile Bottom Navigation -->
    <div class="bottom-nav" *ngIf="isMobile">
      <a *ngFor="let item of navItems" [routerLink]="item.route" routerLinkActive="active" class="nav-item">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span class="label">{{ item.label }}</span>
      </a>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>